@import './variables';
@import './navPanelMenu';
@import './navTopbar';
@import './navSidebar';

/* @font-face {
  font-family: 'Cairo';
  src: url('%PUBLIC_URL%/assets/fonts/Cairo-ExtraLight.ttf');
} */

body {
  margin: 0;
  padding: 0;
  background-color: #eef2f6;
  /* font-family: 'Cairo'; */

  .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
